body {
    background-color: seagreen;
    margin: 60px auto;
    width: 70%;
    max-width: 1000px;
}

#battleshipLogo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 40px auto;
  }



#title{
    position: relative;
    left: 32.8%;
    transform: translateX(-50%);
    height: 50px;
    font-size: 3em;
}

button{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 80px;
    border: 0px;
    background-color: lightblue;
    font-size: 2em
}

button:hover{
    background-color: blue;
}

button:active{
    background-color: blueviolet;
}

button::before{
    background-color: lightblue;
}

button::after{
    background-color: blueviolet;
}